/* Mobile Design */

@media only screen and (max-width: 1300px) and (min-width: 771px){
    .card-content h3{
        font-size: 20px;
    }
    .card-content p{
        font-size: 13px;
    }
}

@media only screen and (max-width: 1100px){
    #download, #store{
        display: none
    }
}

@media only screen and (max-width: 770px){
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
        width: 100%;
    }
    .nav-item{
        margin-left: 10px;
    }
    .wrapper{
        height: 80vh;
    }
    .animediv{
        top: 25%;
    }
    .animetext{
        font-size: 1.8rem;
    }
    .btn-index{
        margin: 5px;
        margin-left: 20px !important;
    }
    .btn-index{
        margin-right: 20px;
        background-color:rgb(230, 228, 201);
        border-radius: 10px;
        height: 3em;
        text-align: center;
        line-height: 50%;
        width: 10em;
    }
    .waves{
        height:40px;
        min-height:40px;
    }
    .card-holder{
        margin-top: -40% !important;
        height: 1540px;
    }
    .card{
        width: 70%;
        margin-left: 15%;
        margin-top: 5% !important;;
    }
    .mission{
        margin-top: 150px;
    }
    @keyframes popup-card{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1 !important;
        }
    }
}


@media only screen and (max-width: 350px) and (min-width: 331px){
    .animetext{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 330px) and (min-width: 320px){
    .downloadcolour{
        display: none /* BHAD MEIN JA TU */
    }
    .logo{
        width: 10em !important;
    }
    #download-err{
        width: 200px;
    }
    .animetext{
        font-size: 1.5rem;
    }
}