/* Importing Fonts */
/* The KING MODE: background-image: linear-gradient(to right, #434343 0%, black 100%); */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto:wght@500&family=Exo+2:wght@500&display=swap&display=swap');

:root{
    --darkblue: #181D31;
    --blue: #252E51;
    --navy: #678983;
    --darkcream: #E6DDC4;
    --cream: #F0E9D2;
    --col-1: 8.33%; --col-2: 16.66%; --col-3: 25%; --col-4: 33.33%; --col-5: 41.66%; --col-6: 50%;
    --col-7: 58.33%; --col-7: 66.66%; --col-8: 66.66%; --col-9: 75%; --col-10: 83.33%; --col-11: 91.66%; --col-12: 100%;
}
html::-webkit-scrollbar{
    width: 10px;
}
html::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgba(230, 228, 201, 0.845);
    border: 3px solid  var(--darkblue);
}
html::-webkit-scrollbar-track{
    background-color: var(--darkblue);
}
html::-webkit-scrollbar-thumb:hover{
    background-color: rgb(230, 228, 201);
}
body{
    background-color: var(--cream);
}

.know{
    margin: auto;
}

.know .heading{
    color: var(--darkblue);
    font-size: 18px;
    margin-top:2%;
}

.know .bodying{
    color: var(--darkblue);
    font-size: 16px;
    width: 100%;
}

/* Customize Body Animation Only Home Page */

.wrapper {
    height: 90vh;
    width: 100%;
    background: linear-gradient(309deg, #181D31 0%, #4d62b5 79%);
}

.boxes div{
    z-index:1;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid var(--cream);
}

.boxes div:nth-child(1) {
    top: 70%;
    left: 10%;
    animation: box-animate 10s infinite
}

.boxes div:nth-child(2) {
    top: 20%;
    left: 80%;
    animation: box-animate 9s infinite
}

.boxes div:nth-child(3) {
    top: 50%;
    left: 55%;
    animation: box-animate 6s infinite
}

.boxes div:nth-child(4) {
    display: none;
    top: 80%;
    left: 60%;
    animation: box-animate 15s infinite
}

.boxes div:nth-child(5) {
    top: 30%;
    left: 30%;
    animation: box-animate 9s infinite
}

.boxes div:nth-child(6) {
    top: 60%;
    left: 90%;
    animation: box-animate 12s infinite
}

.boxes div:nth-child(7) {
    top: 60%;
    left: 40%;
    animation: box-animate 2s infinite
}

.boxes div:nth-child(8) {
    top: 40%;
    left: 20%;
    animation: box-animate 2s infinite
}

.boxes div:nth-child(9) {
    top: 50%;
    left: 80%;
    animation: box-animate 2s infinite
}

@keyframes box-animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1
    }

    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0
    }
}
/* RESPONSIVE CSS DESIGNING START */

/* Sizing the columns */
.col-1 {width: 8.33%;}.col-2 {width: 16.66%;}.col-3 {width: 25%;}.col-4 {width: 33.33%;}.col-5 {width: 41.66%;}.col-6 {width: 50%;}
.col-7 {width: 58.33%;}.col-8 {width: 66.66%;}.col-9 {width: 75%;}.col-10 {width: 83.33%;}.col-11 {width: 91.66%;}.col-12 {width: 100%;}

/* For all classes with "col-" */
[class*="col-"]{
    padding: 15px;
}

/* Reallocates the misplacement of columns! Start all rows with "row-" */
[class*="row-"]::after{
    content: "";
    clear: both;
    display: table;
}
/* RESPONSIVE CSS DESIGNING END */
.center{
    margin: 0 !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}
*:not(button):focus{
    outline: 3px solid var(--navy);
    border-radius: 1px;
    transition: all 0.3s;
}
html, body{
    scroll-behavior: smooth;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.center-text{
    text-align: center !important;
}

/* NAVBAR */
.navbar{
    background-color: #181D31 !important;
    top: 0 !important;
    position:fixed !important;
    width: 100% !important;
    z-index: 5 !important;
    justify-content: space-between !important;
    transition: all 1s;
}

@keyframes popup-navbar{
    0%{
        opacity: 1;
        margin-top: 0px;
    }
    100%{
        opacity: 0;
        margin-top: -93.27px;
    }
}
@keyframes popdown-navbar{
    0%{
        opacity: 0;
        margin-top: -93.27px;
    }
    100%{
        opacity: 1;
        margin-top: 0px;
    }
}

#navbarText{
    color:#EDEDED !important;
}
.nav-link{
    color:#EDEDED !important;
}
.nav-link:hover{
    color:#feffb5 !important;
}
.nav-link.active{
    color: #feffb5 !important;
}
.nav-link.active:hover{
    color: #f4f67b !important;
}

.nav-link{
    display: inline-block;
    position: relative;
}
.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #feffb5;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: 0;
}

.nav-item{
    margin-left: 1.5em;
    width: fit-content;
    width: -moz-fit-content;
}

.animediv{
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 30%;
}

@keyframes mymove {
    50% {font-size: 28px;}
}

.overlay{
    background-color: transparent !important;
    position: absolute; 
}


.btn{
    border-radius: 10px;
    height: 3em;
    line-height: 50%;
    width: 10em;
    cursor: pointer;
    font-family: "Inconsolata";
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s;
}

.btn:hover{
    opacity: 1;
}

.btn:disabled{
    opacity: 0.6 !important;
}

.btn-index{
    background-color:rgb(230, 228, 201);
}

#downloadbtn{
    background-color: #3B96BE;
}

#downloadbtn:hover{
    background-color: #42a8d3;
}

#storebtn{
    background-color: #E6913D;
    margin-left: 20px !important;
}

#storebtn:hover{
    background-color: #f29c46;
}
@keyframes popdown-homebtns{
    0%{
        opacity: 0;
        margin-top: -150px;
    }
    100%{
        opacity: inherit;
        margin-top: 0px;
    }
}
#store{
    width: 10%;
}

#icon{
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: 700;
    color: var(--cream);
    text-shadow: 0px 1.5px 0px rgb(0 0 0 / 25%);
}

.animetext span{
    color: #f76363;
}
.animetext{
    color: var(--cream);
    font-size: 2rem;
    text-shadow: rgb(43, 43, 45) -2px 5px 10px;
}


.downloadcolor{
    background-color: #C14E4F !important;
    text-shadow: 2px 2px #903A3B;
    color: white;
    letter-spacing: 2.5px;
    margin-right: 20px;
    top: 0px !important;
    margin: 0px !important;
    height: 100%;
    width: 15%;
    right: 0px;
    position: absolute;
    border: none;
    font-size: 22px;
    font-family: "Roboto",sans-serif;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
.downloadcolor:hover{
    background-color: #e65151 !important;
    font-size:  24px !important;
    text-shadow: 1.5px 1.5px #903A3B;
}

#download-err{
    display: none;
}

.owner{
    color: #dc3f3f;
    text-decoration: #0ea5e9 underline;
    cursor: pointer;
    transition: all 0.3s;
}

.owner:hover{
    color: #9f1e1e;
    text-decoration: #086591 underline;
    text-shadow: rgba(209, 102, 102, 0.627) -2px 5px 12px;
}

/* Cards */
.card-holder{
    overflow: hidden;
    width: 100%;
    height: 530px;
    margin-top: -20%;
    position: relative;
    z-index: 4;
}

.card{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 180px 180px 25px;
    grid-template-areas: "image" "content" "more";
    float: left;
    margin-left: 3%;
    width: 21.25%;
    height: 385px;
    border-radius: 18px;
    text-align: center;
    background-color: #DCD5BE;
    cursor: pointer;
    border: transparent;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}
@keyframes popup-card{
    0%{
        opacity: 0;
        margin-top: 14%;
    }
    100%{
        opacity: 1;
        margin-top: 6%;
    }
}

.card:last-of-type{
    margin-right: none;
}
.card-image{
    grid-area: image;
    background-color: var(--darkblue) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.card-content{
    grid-area: content;
    font-weight: bold;
}
.card-content .rate{
    font-size: 18px;
    color: rgb(6, 30, 94);
}
.card-content h3{
    color: #051038;
    font-size: 26px;
    padding: 20px 10px 0 10px;
}
.card-content p{
    color: #19244d;
    opacity: 0.85;
    font-size: 15px;
    font-weight: 350;
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
    padding: 0 10px 0 10px;
}
.card-holder p span{
    opacity: 1;
    text-shadow: var(--navy) -2px 5px 5px;
}
.card-more{
    grid-area: more;
}
.card-more span{
    color: #19244d;
    font-size: 16px;
    float: right;
    margin-right: 10px;
}
.card:hover .card-more span{
    color: #0e1325;
    text-decoration: underline;
}

/* Font Stuff */
.panton{
    font-family: "Panton" !important;
}
.inconsolata{
    font-family: "Inconsolata" !important;
}
.exo2{
    font-family: "Exo 2" !important;
}
.roboto{
    font-family: "Roboto" !important;
}

.fw-800{
    font-weight: 800 !important;
}
.bold{
    font-weight: bold !important;
}
.op-0{
    opacity: 0;
}

/* ------------------------------- END ------------------------------- */



.basic-link{
    opacity: 0.9;
    color: inherit;
    text-decoration: none;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: underline;
}
.basic-link:hover{
    color: inherit;
    opacity: 1;
    text-decoration: underline;
}
.link-blue{
    opacity: 1;
    color: #0ea5e9;
    text-decoration: none;
}
.link-blue:hover{
    color: #0ea5e9;
    text-decoration: underline;
}

#download-err{
    display: block;
    position: absolute; 
    top: 0;
    height:75px; 
    right: 1%;
    width: 300px;
}

.mission{
    width: 80%;
    margin: 10px 10% 0 10%;
    border: 4px solid var(--darkblue); 
    border-radius: 10px;
}

.mission h2{
    padding: 0 10px;
    margin: auto;
    width: fit-content;
    background-color: var(--cream);
    margin-top: -35px;
    font-size: 51.2px;
    text-shadow: rgba(0, 0, 0, 0.15) 0px 2px 0px;
    color: var(--darkblue);
}

.mission p{
    padding: 0 20px 0 20px;
    font-weight: 600;
    width: 100%;
    margin-left: 0;
    text-shadow: var(--navy) -2px 5px 12px;
    margin-top: 1%;
    color: #28335e;
    font-size: 20px;
}

.about-cube{
    margin-top: 50px;   
    display: block;
    overflow: auto;
}
.about-cube .container{
    width: 50%;
}
.about-cube .container img{
    margin-left: 35%;
    margin-top: 1%;
    border-radius: 10px;
}
.about-cube .container h1{
    color: var(--darkblue);
    margin-right: 35%;
    width: fit-content;
    width: 380px;
}
.about-cube .container p{
    color: #28335e;
    margin-right: 35%;
    margin-top: 20px;
    width: 380px;
    font-size: 16px;   
}
.container{
    float: left;
}
.change-background{
    background-color: var(--blue);
    color: var(--cream);
    margin-top: 20px;
}
.new-cube{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: fit-content fit-content;
    grid-template-areas: "title" "btns";
}
.new-cube-title{
    grid-area: title;
}
.new-cube-title h1{
    padding: 30px 40px 0 40px;
}
.new-cube-btn-holder{
    padding: 10px 0 20px 0;
    grid-area: btns;
    display: block;
    justify-content: center;
}
.new-cube-btn{
    width: 186px;
    min-width: 186px;
    margin-top: 10px;
    margin-left: 50px;
    color: var(--darkblue);
    transition: all 0.3s;
}
#new-cube-btn-1{
    background-color: #0ea5e9;
}
#new-cube-btn-1:hover{
    background-color: rgb(3, 136, 198);
}
#new-cube-btn-2{
    background-color: #0ee90e;
}
#new-cube-btn-2:hover{
    background-color: #04c604;
}
#new-cube-btn-3{
    margin-right: 50px;
    background-color: #d37516;
}
#new-cube-btn-3:hover{
    background-color: rgb(195, 101, 7);
}

.index-separator{
    opacity: 1;
    margin: 30px 0 30px 0;
    color: var(--darkblue);
    border: 3px solid var(--darkblue);
}
hr{
    opacity: 1;
    margin: 30px 0 30px 0;
    color: var(--darkblue);
    border: 1px solid var(--darkblue);
}
.uncompatible{
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border-top: 1px solid var(--darkblue);
    border-bottom: 1px solid var(--darkblue);
    display: none;
}
.wca{
    padding-bottom: 30px;
}
.wca-title{
    margin: auto;
}
.wca-title h1{
    color: var(--cream);
    font-size: 3rem;
    padding: 0.5rem;
    width: fit-content;
    margin: auto;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    border-right: 3px solid var(--darkcream);
    animation: blink 1s 3;
}
.wca-title h1.animationend{
    text-decoration: underline var(--darkcream);
    cursor: pointer;
}
.typing{
    animation: none !important;
}
.wca-content{
    margin-top: 20px;
    padding-bottom: 10px;
    width: 70%;
    margin: auto; 
}
.wca-content p{
    width: 100%;
}
.img-text-wrap{
    float: left;
    margin-right: 10px;
}

.ap-holder, .rw-holder{
    margin-top: 30px;
}
.ap-title, .rw-title h1{
    padding: 5px;
    font-size: 50px;
} 
.achievements, .rewards{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    padding-top: 0;
}
.achievement, .reward{
    display: inline-block;
    width: 300px;
    min-width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--darkblue);
    border-radius: 10px;
    cursor: context-menu;
    transition: all 0.3s;
}
.achievement img{
    width: 100px;
    height: 100px;
}
.achievement > *:not(img){
    width: 178px;
    text-align: left;
}
.reward{
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
}
.reward .classifier{
    margin-top: 5px;
    text-align: left;
}
.reward .classifier:last-of-type{
    width: 100%;
}
.achievement:hover, .reward:hover{
    transform: translateY(-2px);
}
.achievement h4{
    font-weight: 600;
}
.achievement.locked{
    cursor: pointer;
    opacity: 0.6;
}
@keyframes fadein-locked{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.6;
    }
}
.ap-5{
    background-color: #ffe599;
}
.ap-5:not(.achievement.locked):hover {
    background-color: #ffd966;
}
.ap-10{
    background-color: #b6d7a8;
}
.ap-10:not(.achievement.locked):hover{
    background-color: #93c47d;
}
.ap-15{
    background-color: #ea9999;
}
.ap-15:not(.achievement.locked):hover{
    background-color: #e06666;
}
.achievement > *, .reward > *{
    float: left;
    color: var(--darkblue);
    margin: 5px;
}
.achievement img, .reward img{
    border-radius: 10px;
    margin: 5px;
    width: 100px !important;
}
.reward-claim{
    width: 165px;
    right: 5px;
    position: absolute;
    float: right !important;
    background-color: #d54444 !important;  
    color: var(--darkcream);
    opacity: 1 !important;
    transition: background-color 0.5s;
}
.reward-claim:hover{
    color: var(--darkcream);
    background-color: #b21b1b !important;
}
.reward-claim:focus{
    box-shadow: 0 0 20px #c06d6d !important;
}
.reward-claim.unlocked{
    background-color: #24ad1a !important;
}
.reward-claim.unlocked:hover{
    background-color: #0f7a07 !important;
}
.reward-claim.unlocked:focus{
    box-shadow: 0 0 20px #7ac06d !important;
}
.reward-claim.claim{
    background-color: #16b3c5 !important;
}
.reward-claim.claim:hover{
    background-color: #088f9e !important;
}
.reward-claim.unlocked:hover{
    box-shadow: 0 0 20px #a8f5f8 !important;
}

.footer{
    width: 100%;
    height: 100%;
    margin-top: 75px;
    overflow: hidden;
    background-color: #161821;
    color: var(--cream);
    padding: 50px;
}

.footer .section{
    display: flex;
    float: left;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer .section > *:not(img){
    float: left;
    margin-top: 10px;
}

.footer .section:first-of-type h5{
    margin-left: 10px;
}

.footer img{
    border-radius: 10px;
}

.footer-link{
    margin-left: 5%;
}

.footer .section a{
    text-decoration: none;
    color: var(--cream);
    transition: all 0.3s;
}

.footer .section a:hover{
    color: #16b3c5;
}

.footer .section:last-of-type{
    float: right;
}

.features{
    position: relative;
    height: 100vh;
    overflow: hidden;
    flex-grow: 1;
    background-image: url('images/features.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.features-title{
    width: 100%;
    text-align: center;
}

.features-title > *{
    color: var(--cream);
}

.features-title h1{
    font-size: clamp(3em, 5vw, 10em);
    font-weight: 900;
    filter: blur(0px);
    text-shadow: rgb(0 0 0 / 33%) 0px 3px 0px;
}

.feature-solo-list{
    width: 95%;
    height: 400px;
    margin: auto;
    overflow: hidden;
    background-color: var(--blue);
    border-radius: 18px;
}

.feature-divider{
    width: 10px;
    height: 100px;
    margin: 0px auto;
    opacity: 0.7;
    background-color: var(--darkblue);
}

.feature-solo-list .container{
    width: 50%;
    height: 100%;
    padding: 20px;
    position: relative;
    float: left;
    border-radius: 18px;
    text-align: center;
    color: var(--cream);
}

.feature-text{
    width: 100%;
}

.feature-text  h1{
    font-size: clamp(2.5em, 5vw, 10em);
    padding: 10px;
}

.feature-text p{
    font-size: 18px;
    padding: 10px 15% 10px 15%;
    margin: auto;
}

.feature-img img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.cube-holder{
    width: 100%;
    display:flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 1vh;
    overflow: hidden;
    flex-grow: 1;
    overflow: hidden;
}

.cube-simulator-title{
    margin-top: 100px;
    width: 70%;
    margin-left: 25%;
    text-align: center;
}

.cube-simulator-title h1{
    font-size: 3em;
}

.cube-holder > div:last-of-type{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube-notation-holder{
    opacity: 1;
    display: block;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    z-index: 1000000;
    position: absolute;
    top: 70% !important;
    left: 0% !important;
}

.cube-notation-row{
    display: flex;
    justify-content: center;
}

.cube-notation-row:not(:first-of-type){
    margin-top: 10px;
}

.cube-notation{
    width: 45px;
    height: 45px;
    margin: 5px;
    color: var(--cream);
    background-color: #263569;
    border: none;
    border-radius: 10px;
    transition: all 0.3s;
}

.cube-notation:hover{
    background-color: #111c44;
}

.cube-simulator{
    position: relative;
    width: 70%;
    height: 100%;
    background-color: #7DD6FA;
    overflow: hidden;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.cube-simulator > *:not(.cube-notation-holder){
    position: absolute;
    left: -22%;
    top: -25%;
}

.cube-level-ribbons{
    height: 100%;
    padding-top: 5%;
    background-color: rgb(239, 158, 158);
    border-right: 1px solid #000;
    width: 20%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.ribbon{
    position: relative;
    width: 150px;
    height: 45px;
    background-color: #d85d54;
    margin-top: 20px;
    color: var(--cream);
    font-size: 26px;
    transition: all 0.5s;
}

.ribbon span{
    padding: 10px;
    width: 100%;
}
.ribbon:before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 8px solid #5b1914;
    border-left: 8px solid transparent;
    top: -8px;
    transition: all 0.5s;
}
.ribbon:after{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 22.5px solid transparent;
    border-bottom: 22.5px solid transparent;
    border-left: 15px solid #d85d54;
    right: -15px;
    transition: all 0.5s;
}

.ribbon.active{
    background: #21749a !important;
}
.ribbon.active:before{
    border-bottom: 8px solid #14455b !important;
}
.ribbon.active:after{
    border-left: 15px solid #21749a !important;
}
.ribbon.cleared{
    background-color: #2CB22C;
}
.ribbon.cleared:before{
    border-bottom: 8px solid #197d0b;
}
.ribbon.cleared:after{
    border-left: 15px solid #2CB22C;
}

.circlebtns{
    width: 15px;
    margin: 5px;
    margin-top: 0;
    height: 15px;
    background-color: #6b6b6b;
    border-radius: 50%;
}
.circlebtns.correct{
    background-color: #2CB22C;
}
.circlebtns.wrong{
    background-color: #b22c2c;
}

/* Animations */
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes scalein{
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes scaleout{
    0%{
        opacity: 0;
        transform: scale(1.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes fliptext{
    0% {
      opacity: 0;
      transform: rotateX(90def);
    }
    50% {
      opacity: 1;
      transform: rotateX(720deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(720deg);
    }
}
@keyframes popup{
    0%{
        opacity: 0;
        margin-top: 20px;
    }
    100%{
        opacity: 1;
        margin-top: 0px;
    }
}
@keyframes popdown{
    0%{
        opacity: 0;
        margin-top: -50px;
    }
    100%{
        opacity: 1;
        margin-top: 0px;
    }
}
@keyframes popleft{
    0%{
        opacity: 0;
        margin-left: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes popright{
    0%{
        opacity: 0;
        margin-left: 200px;
    }
    100%{
        opacity: 1;
    }
}
@keyframes blink{
    10% {border-right: 3px solid var(--darkcream);}
    49% {border-right: 3px solid var(--darkcream);}
    50% {border-right: 3px solid transparent;}
    99% {border-right: 3px solid transparent;}
    100%{border-right: 3px solid var(--darkcream);}
}
